// @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

$font-family-driver-stack: "Driver Gothic", sans-serif;
$font-family-sans-stack: "Source Sans Pro", "Helvetica", Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, h6, p, a, address {
  color: $xd-grey;
  font-family: $font-family-sans-stack;
}

h1,
h2 {
  font-family: $font-family-driver-stack;
  font-weight: 400;
}

h1 {
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;

  &:hover {
    color: $dk-grey;
  }
}

address {
  font-style: normal;
}

.driver-gothic {
  font-family: $font-family-driver-stack;
}

.caret {
  &:after {
    content: "\e600";
  }
}

