@import "settings";
@import "colors";
@import "icons";
@import "typography";
@import "mixins";
@import "foundation.scss";

header {
  background-color: rgba(255,255,255,0.9);
  display: none;
  // padding: 0.3em 0;
  padding: 0.3em 0.4em;
  position: fixed;
  width: 100%;
  z-index: 5;

  h1 {
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0.3em;
  }

  .logo {
    height: 3em;
  }
}

.header-space {
  height: 2em;
}

p:first-child {
  margin-top: 0;
}

section {
  padding: 2em 0;
}

section.header {
  background-image: url(/assets/images/daniel-office-1.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
  height: 300px;
  width: 100%;

  @media #{$medium-up} {
    height: 500px;
  }

  @media #{$large-up} {
    height: 600px;
  }

  .row {
    .text-overlay {
      height: 300px;
      position: relative;

      @media #{$medium-up} {
        height: 500px;
      }

      @media #{$large-up} {
        height: 600px;
      }
      
      h2 {
        bottom: 1em;
        position: absolute;
      }
    }
  }
}

section.about {

  .text-block {
    padding-bottom: 3em;
    padding-top: 3em;

    p {
      color: $white;
      text-align: center;
    }
  }
}

section.location {
  background-image: url(/assets/images/bp-map.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
  width: 100%;

  .text-overlay {
    height: 300px;

    address {
      bottom: 0;
      position: absolute;
      text-align: right;
      width: 100%;
      right: 1em;
    }
  }
}

footer {
  background-color: $dk-grey;
  padding: 2em 1em;

  .footer-logo {
    display: block;
    height: 60px;
    margin: 0 auto;
    // width: 50px;
  }
}

