@import "settings";
@import "foundation.scss";

header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:true); }
  padding-bottom: em-calc(10px);

}

section.header {
  background-image: url(/assets/images/daniel-office-1.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
  height: 300px;
  width: 100%;

  .text-overlay {
    @include grid-column(12);
    
    h1 {
    }
  }
}

section.about {
  .text-block {
    @include grid-column(12);
    
    p {
    }
  }
}

section.location {
  background-image: url(/assets/images/bp-map.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
  height: 300px;
  width: 100%;

  .text-overlay {
    @include grid-column(12);

    h2 {
    }

    p {
    }
  }
}

