@import "settings";
@import "colors";
@import "icons";
@import "typography";
@import "foundation.scss";

header {
  padding: 2em 3em;

  .logo {
    height: 5em;
  }
}

p:first-child {
  margin-top: 0;
}

section {
  padding: 1em 1em;
}

section.header {
  background-image: url(/assets/images/daniel-office-1.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
  height: 300px;
  width: 100%;

  .row {
    .text-overlay {
      // @include grid-column(12);
      height: 300px;
      position: relative;
      
      h1 {
        bottom: 0;
        position: absolute;
      }
    }
  }
}

section.about {
  // background-color: $salmon;
  background-color: $dk-grey;
  .text-block {
    // @include grid-column(12);

    p {
      color: $white;
    }
  }
}

section.location {
  background-image: url(/assets/images/bp-map.jpg);
  background-size: cover;
  background-position: center center;
  display: block;
  height: 300px;
  width: 100%;

  .text-overlay {
    // @include grid-column(12);

    h2 {
    }

    p {
    }
  }
}

footer {
  padding: 1em 1em;

  .footer-logo {
    display: block;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
}

