---
title: Blank Page Studio
---
<header>
  <h1>Blank Page</h1>
<!--   <div class="row">
    <div class="small-12 columns">
      <h1>Blank Page</h1>
    </div>
  </div> -->
</header>

<div class="header-space"></div>

<!-- <section class="header">
  <div class="row">
    <div class="small-5 columns">
      <div class="text-overlay">
        <img src="/assets/images/bp-logo-box3.svg" alt="" class="logo">
        <h2>
          Welcome to <br> Blank Page Studio
        </h2>
      </div>
    </div>
  </div>
</section> -->

<section class="welcome">
  <div class="row">
    <div class="small-12 medium-10 medium-centered large-6 columns">
      <h2>Welcome to blank page studio</h2>
      <%= image_tag 'daniel-office-1.jpg' %>
      <!-- <%= image_tag 'door-window-logo.jpg' %> -->
      <!-- <%= image_tag 'door-top-half.jpg' %> -->
    </div>
  </div>
</section>

<section class="about">
  <div class="row">
    <div class="small-12 medium-6 large-7 columns">
      <%= image_tag 'daniel-office-1.jpg' %>
    </div>
    <div class="small-12 small-pull-12 medium-6 large-5 columns">
      <div class="text-block">
        Blank Page Studio is a space for people dedicated to the advancement of innovative practices and ideas in art, architecture, design, and culture. Our mandate is to engage a broad audience throughout Calgary’s communities in generating dialogue about, and active participation in the city’s cultural sphere. 
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="row">

    <div class="small-10 small-centered medium-7 large-7 columns">
      <div class="text-block">
        <p>
          Blank Page Studio is a space for people dedicated to the advancement of innovative practices and ideas in art, architecture, design, and culture. Our mandate is to engage a broad audience throughout Calgary’s communities in generating dialogue about, and active participation in the city’s cultural sphere. 
        </p>
        <!-- <a href="#" class="icon-chevron-right">Learn more</a> -->
      </div>
      
    </div>
  </div>
</section>
<section class="location">
  <div class="row">
    <div class="small-12 columns">
      <div class="text-overlay">
        <h2>
          You can find us here
        </h2>
        <address>
          1221B Kensington Road NW <br>
          Calgary, Alberta <br>
          <div class="hide-for-small-only">
            2nd floor, entrance left of the mural. <br>
            
          </div>
          <a href="#">Google Map</a> <br>
          403.475.1994 <br>
          <a href="mailto:bpagestudio@gmail.com">bpagestudio@gmail.com</a> 
        </address>
      </div>
    </div>
  </div>
</section>
<footer>
  <img src="/assets/images/bp-logo-box-wht_02.png" alt="Blank Page - Circle Logo" class="footer-logo">
</footer>