---
title: Blank Page Studio
---

<section class="header">
  <div class="row">
    <div class="text-overlay">
      <h1>
        Welcome to Blank Page Studio
      </h1>
    </div>
  </div>
</section>
<section class="about">
  <div class="row">
    <div class="text-block">
      <p>
        BLANK PAGE STUDIO is a space for people dedicated to the advancement of innovative practices and ideas in art, architecture, design, and culture. Our mandate is to engage a broad audience throughout Calgary’s communities in generating dialogue about, and active participation in the city’s cultural sphere. 
      </p>
      <!-- <a href="#" class="caret">Learn more</a> -->
      <a href="#" class="icon-chevron-right">Learn more</a>
    </div>
  </div>
</section>
<section class="location">
  <div class="row">
    <div class="text-overlay">
      <h2>
        You can find us here.
      </h2>
      <address>
        1221B Kensington Road NW
        Calgary, Alberta
        2nd floor, entrance left of the mural.
        <a href="#">Google Map</a>
        403.475.1994
        <a href="mailto:bpagestudio@gmail.com">bpagestudio@gmail.com</a>
      </address>
    </div>
  </div>
</section>
<footer>
  <img src="/assets/images/bp-circle-logo.jpg" alt="Blank Page - Circle Logo" class="footer-logo">
</footer>